.mobileMenu {
  border-top: 1px solid #e2e1e1;
  display: none;
  height: 62px;
  width: 100%;
  background-color: white;
}

.mobileMenu__container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.mobileMenu__container a {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #000000;
}

/*마이페이지 선호 컨텐츠 모바일화면 추가해놨습니다!*/
@media screen and (max-width: 768px) {
  body,
  html {
    font-size: 12px;
  }
  .mobileMenu {
    display: block;
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
  .carddetail {
    width: 100% !important;
    display: block;
    margin-bottom: 30px !important;
  }

  .last_card {
    margin-bottom: 0 !important;
  }

  .site-card-wrapper > div.ant-row {
    display: block;
  }
  .site-card-wrapper > div.ant-row > .ant-col {
    max-width: 100%;
  }
}

@media screen and (max-width: 480px) {
  #searchWrap {
    width: 95% !important;
  }
  .searchList {
    float: none !important;
    width: 100% !important;
    margin: 0 0 20px 0 !important;
  }
}
